* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom right, #91e8d8 0%, #3d3090 100%) no-repeat;
    font-family: 'Poppins', sans-serif;
}

.login_register {
    max-width: 1366px;
}

.title {
    display: flex;
}

.login,
.register {
    padding: 1rem;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    transition: 0.2s;
    cursor: pointer;
}

.login {
    border-left: 1px solid gray;
}

.active {
    background-color: white;
}

.passive {
    background-color: #91e8d8;
    border-bottom: 1px solid gray;
}

.form_body {
    background-color: white;
    align-items: center;
}

.active_body {
    display: flex;
}

.passive_body {
    display: none;
}

.image_container {
    max-width: 50%;
}

.image_container img {
    max-width: 100%;
}

.form_container {
    padding: 5rem;
    width: 100%;
}

.login_form>h1 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.login_form>div {
    display: flex;
    padding: 1rem 0;
    position: relative;
}

.email>label,
.password>label {
    position: absolute;
    background-color: white;
    top: 0.5rem;
    left: 1rem;
    font-size: 12px;
}

.email>input,
.password>input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
}

.name {
    display: flex;
    justify-content: space-between;
}

.name>.fname,
.name>.lname {
    position: relative;
    width: 47.5%;
}

.name>.buffer {
    width: 5%;
}

.name .fname label,
.name .lname label {
    position: absolute;
    background-color: white;
    top: -0.5rem;
    left: 1rem;
    font-size: 12px;
}

.name input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
}

.remember_forgot {
    justify-content: space-between;
    width: 100%;
}

.form_btn {
    width: 100%;
    border: none;
    padding: 1rem 0;
    font-weight: 700;
    cursor: pointer;
}

.login_btn {
    background-color: #abc4fa;
}

.login_btn_alt {
    margin-bottom: 1rem;
    color: white;
}